/*----------------------------*\
    $TYPOGRAFIAS
/*----------------------------*/
$f-base: 'Open Sans', sans-serif;
$f-contenido: 'Montserrat', sans-serif;
/*----------------------------*\
    $QUERYS
/*----------------------------*/
$q-1200: 1300px;
$q-770: 770px;
$q-425: 425px;
/*----------------------------*\
    $COLORES
/*----------------------------*/
$c-blanco: #ffffff;
$c-negro: #03363d;